/* HERO SECTION */
#hero {
    background-image: url(../images/banner/banner2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 100px 0px;
}
.hero-rpart h1 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    color: #151414;
}
.hero-rpart P {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #444343;
}
.hero-rpart a {
    background: #F15B22;
    text-align: right;
    border-radius: 5px;
    float: right;
    padding: 18px 45px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: right;
    color: #FFFFFF;
}

/* FAILURES SECTION */
#failures {
    padding: 80px 0px;
}
.failures-lpart img {
    width: 100%;
}
.failures-rpart {
    margin-left: 40px;
}
.failures-rpart ul {
    list-style: none;
    padding: 0;
}
.failures-rpart li {
    padding-left: 1.3em;
}
.failures-rpart ul li {
    padding: 6px 0px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}
.failures-rpart li::before {
    
    display: inline-block;
    width: 30px;
}
.vrtcl-b{
    margin-top: auto !important;
}
.failures-rpart h2 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    margin-bottom: 25px;
}
.failures-rpart p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}


/* My Plans SECTION */
h2.plan-title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    text-align: center;
    margin: 60px;
}
.m-plan img {
    display: block;
    margin: 0px auto;
    width: 80px;
    padding-bottom: 25px;
}
.m-plan h3 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    color: #151414;
}
.m-plan p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;
    text-align: center;
    color: #737272;
}

/* Mindset SECTION */

#mindset {
    margin: 65px 0px;
}
.mindset-s {
    border-radius: 8px;
    background: url(../images/watch.png), linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 55px 45px;
}
.mindset-s h2 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
}
.mindset-s a {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 15px 35px;
    display: block;
    width: max-content;
    margin-top: 15px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #F15B22;
}

/* Mindset SECTION */
section#footer {
    background-color: #151414;
    padding: 100px 0px;
}
.footer-lpart h2 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #F8F8F8;
    margin-bottom: 20px;
}
.footer-lpart p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}
.footer-s-icon img {
    display: inline-block;
    padding: 0px 5px;
}
.footer-rpart h3 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 35px;
}

.footer-rpart form input[type="email"] {
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    background: transparent;
    padding: 15px;
    color: #fff;
}
.footer-rpart form input {
    display: block;
}
::placeholder {
    color: #F3F3F3;
}
.footer-rpart form input[type="submit"] {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 15px 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #F15B22;
    margin-top: 15px;
}
.footer-rpart {
    float: right;
}